<p>Recipes list</p>
<ul>
{{#each model as |recipe|}}
<li>
  <div {{action 'toggleListDetail'}}>{{recipe.title}}</div>
    {{recipe-detail recipe=recipe}}
    {{delete-recipe deleteRecipe='deleteRecipe' recipe=recipe}}
</li>
{{/each}}
</ul>
{{outlet}}
